/* ================ Grille CSS ================ */
/* -- Général -------------------- */
/* Structure en tableau */
.grille {
	display: table;
	margin-top: 20px;
	width: 100%;
}

/* Cellules */
.grille > * {
	display: table-cell; 
	padding: 0 20px;
	vertical-align: top; /* Fixes issues w/ images */
}

/* Harmonie générale */
.grille > *:first-child {padding-left:0;}
.grille > *:last-child, .grille__last_item {padding-right:0;} /* Dépend du niveau de compatibilité demandé */


/* -- Dimensions ---------- */
/* Grilles égales */
.grille2 > * {width: 50%;}
.grille3 > * {width: 33.333%;}
.grille4 > * {width: 25%;}
.grille5 > * {width: 20%;}

/* Grilles inégales */
.grille1-2 > *:first-child {width: 33.333%;}
.grille1-2 > * {width: 66.666%;}

.grille2-1 > *:first-child {width: 66.666%;}
.grille2-1 > * {width: 33.333%;}
